<div class="w3-card-4 w3-center w3-middle w3-panel" style="height:60px;">
    <button class="item-click">button</button>
    <button class="item-click">button</button>
    <button class="item-click">button</button>
    <button class="item-click">button</button>
    <button class="item-click">button</button>
    <button class="item-click">button</button>
    <button class="item-click">button</button>
    <button class="item-click">button</button> {{count}}
</div>